  /* Estilos adicionales para el formulario */
  body {
    height: 100vh;
  }

  h2 {
    margin-top: 10px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    margin-bottom: 2px;
  }

  .login-button {
    margin-top: 20px;
  }

  #rol {
    height: 1.5rem;
    background: rgb(44, 114, 139);
    border: 1px solid rgb(9, 9, 121);
    color: white;
    cursor: pointer;
  }


  #loginForm {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }

  #mostrarForm{
    width: 20spx;
    height: 20px;
  }

  #serAdmin{
    color: black;
  }